@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.form {
	max-width: 270px;
	font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
	font-weight: normal;
	line-height: 1.625;
	margin: 8px auto;
	padding-left: 16px;
	z-index: 2;
}

h2 {
	font-size: 18px;
	margin-bottom: 8px;
}
.area{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 76%;
  border: 0;
  margin: 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
  height: 35px;
  border-radius: 5px;
}

.location{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 76%;
  border: 0;
  margin: 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
  height: 40px;
  border-radius: 5px;
}

.submit{
  /* background-color: #4CAF50; 
  color: white;
  font-size: 14px;
  border-radius: 12px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  width: 76%;
  border: 0;
  margin: 25px 0 10px;
  box-sizing: border-box;
  font-size: 15px;
	height: 35px;
	text-align: center;
	border-radius: 5px; */
	  align-items: center;
	  appearance: none;
	  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
	  border: 0;
	  border-radius: 6px;
	  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
	  box-sizing: border-box;
	  color: #fff;
	  cursor: pointer;
	  display: inline-flex;
	  font-family:Verdana, Geneva, Tahoma, sans-serif;
	  height: 48px;
	  justify-content: center;
	  line-height: 1;
	  list-style: none;
	  overflow: hidden;
	  padding-left: 16px;
	  padding-right: 16px;
	  position: relative;
	  text-align: left;
	  text-decoration: none;
	  transition: box-shadow .15s,transform .15s;
	  user-select: none;
	  -webkit-user-select: none;
	  touch-action: manipulation;
	  white-space: nowrap;
	  will-change: box-shadow,transform;
	  font-size: 18px;
	}
	
	.submit:focus {
	  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
	}
	
	.submit:hover {
	  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
	  transform: translateY(-2px);
	}
	
	.submit:active {
	  box-shadow: #3c4fe0 0 3px 7px inset;
	  transform: translateY(2px);
	}



.result{
		background: #dcd686;
		width: 76%;
		border: 0;
		margin: 25px 0 10px;
		box-sizing: border-box;
		font-size: 15px;
		height: 35px;
		text-align: center;
}

.img {
  background: url('https://images.unsplash.com/photo-1564013799919-ab600027ffc6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
	background-repeat: no-repeat;
  background-size: auto;
  background-size:100% 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(15px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.photo-block {
	display: none;
	position: fixed;
	top: 50px;
	left: 10%;
	right: 10%;
	/* transform: translate(-50%,-50%); */
	background-color: #ffffff;
	padding: 20px;
	border: 8px solid #514f4fb8;
	border-radius: 15px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.553);

	z-index: 9999;
	animation: popout 0.5s ease;
}

@keyframes popout {
	0% {
		transform: scale(0);
	}
	
	100% {
		transform: scale(1);
	}
}


.myUL {
	display: inline;
	text-align: center; }

.photo-block-comparison {
   text-align: center;
   display: none;
   position: fixed;
   top: 10%;
   left: 30%;
   right: 30%;
   /* transform: translate(-50%,-50%); */
   background-color: #ffffff;
   padding: 20px;
   border: 8px solid rgba(0, 34, 255, 0.952);
   border-radius: 15px;
   box-shadow: 0 0 80px rgba(36, 147, 250, 0.735);
   z-index: 1;
   animation: popout 0.5s ease;
   button 
   {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.162), 0 17px 50px 0 rgba(0,0,0,0.19);
  }


}

#Bank-comparison{
	left:20% ;
	right:20%;
	background-color: rgba(255, 255, 255, 0.7); /* White background with 70% opacity */
	backdrop-filter: blur(10px); /* Add a blur effect to the background */
	border-radius: 12px; /* Add a rounded corner to the block */
	padding: 20px; /* Add some padding to the block */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the block */
  }



.photo {
	width: 180px;
	height: 180px;
	margin: 10px;
	display: inline-block;
}

.close {
	cursor: pointer;
	position:relative;
	bottom: -10px;
}

.dealer-info {
	display: none;
	border: 1px solid #ccc;
	padding: 10px;
	margin-top: 10px;
}

table { width: 100%;}
td:first-child { text-align: left;}
td:last-child { text-align: right;}

.blockloan {
	width: 600px;
	height: 300px;
	/* background-color: lightgray; */
	overflow: hidden;
	position: relative; 
	left: 22px;
	top: -930px;
	transition: 0.5s;
	
}

.photoloan {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.hiddenloan {
	width: 0px;
	height: 300px;
	overflow: hidden;
}

.image-block {
	display: none;
	position: fixed;
	top: 50px;
	left: 10%;
	right: 10%;
	/* transform: translate(-50%,-50%); */
	background-color: #ffffff;
	padding: 20px;
	border: 8px solid #514f4fb8;
	border-radius: 15px;
	box-shadow: 0 0 40px rgba(37, 37, 37, 0.643);

	z-index: 9999;
	animation: popout 0.5s ease;

	img { width: 210px; height: 210px; object-fit: contain; }
}


.navbar {
	background-color: #0037ff6a;
	border-radius: 12px;
	padding: 1em;
	display: flex;
	justify-content:center;
	align-items:center;
  }
  
  .nav-links {
	list-style:none;
	margin: 0;
	padding: 2;
	display:flex;
	justify-content:center; /* Align links to the right side */
  }
  
  .nav-link {
	color: #ffffff;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: larger;
	font-weight: bold;
	text-decoration:solid;
	transition: color 0.4s ease;
	margin-right: 3em; /* Add distance between links */
  }
  
  .nav-link:hover {
	color: #88ff00cb;
  }
  
  .nav-link.active {
	color: #ffe100;
  }


  /* CSS to hide the navbar initially */
  .navbar {
	display: none;
	animation: slideFromRight 0.5s ease forwards;
}
/* CSS for the hamburger icon */
.menu-icon {
	cursor: pointer;
	color: #ffffff;
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1;
}

/* CSS for animation */
@keyframes slideFromRight {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}




	



body, html {
  height: 100%;
}